@use "sass:math";

@function rem($px) {
    $rems: math.div($px, 16) * 1rem;
    @return $rems;
}

@function fluid($min-size, $max-size, $min-breakpoint, $max-breakpoint, $unit: vw) {
    $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
    $slope-to-unit: $slope * 100;
    $intercept-rem: rem($min-size - $slope * $min-breakpoint);
    $min-size-rem: rem($min-size);
    $max-size-rem: rem($max-size);
    @return clamp(#{$min-size-rem}, #{$slope-to-unit}#{$unit} + #{$intercept-rem}, #{$max-size-rem});
}