@use 'reset';
@use 'variables'as *;
@use 'mixins'as *;
@use 'functions'as *;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body {
    font-family: "League Spartan", sans-serif;
    font-size: 1.0625rem;
    line-height: 1.3;
    min-height: 100vh;
}

%rounded {
    border-radius: 50%;
    overflow: hidden;
}

.container {
    min-height: 100vh;
    margin: 0 auto;

    padding: rem(82) 1.5rem rem(100);
    max-width: rem(600);

    @media (min-width: 68.75em) {
        max-width: rem(1148);
        display: grid;
        align-content: center;
        grid-template-columns: minmax(auto, rem(445)) 1fr;
        gap: rem(70) rem(125);
    }
}

.header {
    @media (max-width: 68.75em) {
        margin-bottom: rem(40);
        text-align: center;
    }
}

.title {
    font-weight: 700;
    font-size: fluid(40, 56, 320, 1110); //clamp
    line-height: .8;
    letter-spacing: rem(-1.42857);
    margin-bottom: $base-margin;
}

.text {
    font-size: rem(19);
    letter-spacing: rem(-0.633333);
}

.rating-box {
    @include flex(column, $base-margin, center);

    @media (max-width: 68.75em) {
        margin-bottom: rem(50);
    }
}

.rating {
    position: relative;
    border-radius: .5rem;
    background-color: $neu-light-grayish-magenta;
    padding: fluid(16, 20, 320, 1100) fluid(16, 32, 320, 1100);
    @include flex(column, $base-margin, start, center);

    @media (min-width: 68.75em) {
        flex-direction: row;
        gap: 2rem;
        max-width: rem(445);

        @for $i from 0 through 2 {
            &:nth-child(#{$i + 1}) {
                transform: translateX($i * $rating-hor-margin);
            }
        }
    }

    &__stars {
        @include flex(row, .5rem, center);
    }

}

.testimonials {
    display: grid;
    gap: 1rem;

    @media (min-width: 68.75em) {
        grid-column: 1 / -1;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(30);
    }
}

.testimonial {
    position: relative;
    background: $primary-c;
    border-radius: .5rem;
    padding: rem(40) 2rem rem(35);

    @media (min-width: 68.75em) {
        @for $i from 0 through 2 {
            &:nth-child(#{$i + 1}) {
                transform: translateY($i * $testimonial-vert-margin);
            }
        }
    }

    &__header {
        @include flex(row, 1.5rem, start, center);
        margin-bottom: fluid(24, 30, 320, 1100);
    }

    &__avatar {
        flex: 0 0 rem(40);
        height: rem(40);
        @extend %rounded;
    }

    &-user__name {
        margin-bottom: rem(4);
    }
}