@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: hsl(300, 43%, 22%);
}

.text-accent {
  color: hsl(333, 80%, 67%);
}

.text-secondary {
  color: hsl(303, 10%, 53%);
}

.text-white {
  color: #fff;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.0625rem;
  line-height: 1.3;
  min-height: 100vh;
  background: url(../assets/bg-pattern-top-mobile.svg) no-repeat 0% 0% fixed, url(../assets/bg-pattern-bottom-mobile.svg) no-repeat 100% 100% fixed;
}
@media (min-width: 68.75em) {
  body {
    background: url(../assets/bg-pattern-top-desktop.svg) no-repeat 0% 0% fixed, url(../assets/bg-pattern-bottom-desktop.svg) no-repeat 100% 100% fixed;
  }
}

.testimonial__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 5.125rem 1.5rem 6.25rem;
  max-width: 37.5rem;
}
@media (min-width: 68.75em) {
  .container {
    max-width: 71.75rem;
    display: grid;
    align-content: center;
    grid-template-columns: minmax(auto, 27.8125rem) 1fr;
    gap: 4.375rem 7.8125rem;
  }
}

@media (max-width: 68.75em) {
  .header {
    margin-bottom: 2.5rem;
    text-align: center;
  }
}

.title {
  font-weight: 700;
  font-size: clamp(2.5rem, 2.0253164557vw + 2.0949367089rem, 3.5rem);
  line-height: 0.8;
  letter-spacing: -0.089285625rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.1875rem;
  letter-spacing: -0.0395833125rem;
}

.rating-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}
@media (max-width: 68.75em) {
  .rating-box {
    margin-bottom: 3.125rem;
  }
}

.rating {
  position: relative;
  border-radius: 0.5rem;
  background-color: hsl(300, 24%, 96%);
  padding: clamp(1rem, 0.5128205128vw + 0.8974358974rem, 1.25rem) clamp(1rem, 2.0512820513vw + 0.5897435897rem, 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
@media (min-width: 68.75em) {
  .rating {
    flex-direction: row;
    gap: 2rem;
    max-width: 27.8125rem;
  }
  .rating:nth-child(1) {
    transform: translateX(0rem);
  }
  .rating:nth-child(2) {
    transform: translateX(3rem);
  }
  .rating:nth-child(3) {
    transform: translateX(6rem);
  }
}
.rating__stars {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: stretch;
}

.testimonials {
  display: grid;
  gap: 1rem;
}
@media (min-width: 68.75em) {
  .testimonials {
    grid-column: 1/-1;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }
}

.testimonial {
  position: relative;
  background: hsl(300, 43%, 22%);
  border-radius: 0.5rem;
  padding: 2.5rem 2rem 2.1875rem;
}
@media (min-width: 68.75em) {
  .testimonial:nth-child(1) {
    transform: translateY(0rem);
  }
  .testimonial:nth-child(2) {
    transform: translateY(1rem);
  }
  .testimonial:nth-child(3) {
    transform: translateY(2rem);
  }
}
.testimonial__header {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: start;
  align-items: center;
  margin-bottom: clamp(1.5rem, 0.7692307692vw + 1.3461538462rem, 1.875rem);
}
.testimonial__avatar {
  flex: 0 0 2.5rem;
  height: 2.5rem;
}
.testimonial-user__name {
  margin-bottom: 0.25rem;
}
